// /src/layout/Common.less

// 自定义链接的颜色  默认颜色 icon 参考这个颜色
@common_my_link_color: #343d3e;
// 亮色字体颜色
@common_light_color: #eee;

// 暗色字体颜色
@common_dark_color: #495057;

// 第二种颜色
@common_second_color: #8069f2;
// .my_link 只负责链接颜色
.my_link {
  color: @common_my_link_color;
  cursor: pointer;
}

.bg_primary_color {
  background: @primary-color;
}

.font_primary_color {
  color: @primary-color;
}

.bg_second_color {
  background: @common_second_color;
}

.font_second_color {
  color: @common_second_color;
}

.my_link:hover {
  color: @primary-color;
}

.light_color {
  color: @common_light_color !important;
}

.dark_color {
  color: @common_dark_color;
}

// 警告颜色 错误颜色
.danger_color {
  color: #dc3545;
}

// 只设置鼠标样式
// .my_link1:hover {

// }
